<?xml version="1.0" encoding="utf-8"?>
<!--
  ASP.NET Web Configuration for Primecare Pharmacy (Edmonton, Canada)
  Visual Studio 2019 / .NET Framework 4.7.2 / 4.8
-->
<configuration>
  <connectionStrings>
    <add name="AccessBookingDB" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\PrimecareBookings.mdb;" providerName="System.Data.OleDb" />
  </connectionStrings>

  <appSettings>
    <!-- Paste your deployed Google Apps Script Web App URL below to connect to Google Sheets -->
    <add key="GoogleSheetWebAppUrl" value="https://script.google.com/macros/s/AKfycbx_EXAMPLE_KEY/exec" />
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-CA" uiCulture="en-CA" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <add namespace="PrimecarePharmacy" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Default.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
